@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}
a, .menu {
    -webkit-tap-highlight-color: transparent; /* For Chrome, Safari, and other WebKit-based browsers */
    -webkit-focus-ring-color: transparent;    /* For iOS Safari focus */
    outline: none; /* For removing focus outline */
    cursor: pointer;
  }
  
/* variables */

:root{
    --primary-heading: rgb(34,34,34);
    --sub-text: rgb(70,80,90);
    --hover-color: rgb(29, 130, 254);
    --btn-color: rgb(69, 153, 255);
    --btn-hover: rgb(13, 26, 42);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.heading-font{
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-heading);
}

.sub-heading{
    font-size: 16px;
    font-weight: 400;
    color: var(--sub-text);
}
.btn1{
    color: white;
    background: var(--hover-color);
    padding: 8px 20px;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #308cfd;
}
.btn1:hover{
    background-color: var(--primary-heading);
    border: 2px solid transparent;
}
.btn2{
    color: #308cfd;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #308cfd;
}
.btn2:hover{
    background-color: var(--btn-color);
    color: white;

}
