@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}

/* variables */

:root{
    --primary-heading: rgb(34,34,34);
    --sub-text: rgb(70,80,90);
    --hover-color: rgb(29, 130, 254);
    --btn-color: rgb(69, 153, 255);
    --hero-heading: #0775FD;
}
/* nav bar */

header{
    border-bottom: 2px solid var(--btn-color);
    padding: 6px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 45;
}
nav{
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
    
}

/* .logo {
    width: 88px;
    height: 60px;
    overflow: hidden;
}
.logo svg{
    width: 100px;
    height: 100px;
} */

.nav-ul{
    gap: 18px;
}

.nav-ul li a{
    color: var(--primary-heading);
    font-size: 16px;
    transition: all 0.1s ease-out;
    padding: 18px 17px;
}
.nav-ul li a:hover{
    color: var(--hover-color);
}
.menu{
    display: none;
    font-size: 24px;
    transition: all 0.1s ease-out;
}

.menu:hover{
    color: var(--hover-color);
}

/* hero section */

.hero-cont{
    background-image: url('../assets/imgs/program1/hero.svg');
    height: calc(100vh - 77.6px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.black-box{
    height: calc(100vh - 77.6px);
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.2;
    z-index: 0;
}
.hero-content{
    height: calc(100vh - 77.6px);
    padding-inline: 40px;
}
.hero-heading-all{
    font-size: 50px;
    font-weight: 450;
    color: var(--hero-heading);
    z-index: 2;
}
.hero-heading-all span{
    color: #0775FD;
}


/* page-2 */

.pg-2-cont{
    max-width: 1400px;
    margin: auto;
    padding: 60px 40px;
}


.pg-2-heading{
    font-size: 38px;
    color: var(--primary-heading);
    font-weight: 600;
    text-align: center;
}
.pg-content{
    justify-content: space-around;
    padding-block: 82px 23px;
    flex-wrap: wrap;
    column-gap: 197px;
    row-gap: 70px;
}
.box{
    flex-direction: column;
    gap: 20px;
    min-width: 175px;
    text-align: center;
    padding: 18px;
    border-radius: 12px;
    transition: all 0.1s ease-in;
}
.box:hover{
    box-shadow: 2px 2px 8px gray;
}
.img-container{
    width: 100px;
    height: 100px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: hue-rotate(180deg) saturate(150%) brightness(69%);
    
}
.content-box-p{
    font-size: 18px;
    color: var(--primary-heading);
    font-weight: 700;
}

/* page-3 */
.pg-3-cont{
    max-width: 1400px;
    margin: auto;
    padding: 60px 40px;
    justify-content: space-between;
    gap: 23px;
}
.pg-3-box{
    background: #00c3ff2a;
    padding-inline: 50px;
    padding-block: 50px;
    border-radius: 17px;
}
.pg-3-icon-cont{
    
}
.pg-3-icon-cont img{
    filter: hue-rotate(180deg) saturate(200%) brightness(80%);
}
.pg-3-box p:nth-child(2){
    color: var(--primary-heading);
    font-weight: 700;
    font-size: 34px;
    margin-block: 24px;
}
.pg-3-box p:last-child{
    color: var(--sub-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1;
}
@media screen and (max-width: 1050px) {
    .hero-heading-all{
        font-size: 40px;

    }
}
@media screen and (max-width: 900px) {
    header{
        padding: 0;
       }
    nav{
        padding: 2px 34px ;
    }

    .nav-ul {
        display: none ;
    }
    .menu{
        display: block;
    }
}

@media screen and (max-width: 700px) {
    nav{
        padding: 2px 17px;
    }

    .logo svg{
        height: 50px;
        /* object-fit: cover; */
    }
    /* page-2 */

    .pg-2-cont{
        padding-block: 50px;
    }
    .pg-2-heading{
        font-size: 30px;
    }
    /* page-2 */
    .pg-3-cont{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {  
    .hero-content{
    padding-inline: 40px;
    height: calc(100vh - 59.6px);

    }
    
    .hero-heading-all{
        font-size: 30px;
        color: var(--primary-heading);
    }
    .hero-heading-all span{
        color: var(--hero-heading);
    }
    /* page-2 */
    .pg-2-cont,.pg-3-cont{
        padding-inline: 30px;
    }
    .pg-2-heading{
        font-size: 18px;
    }
    .pg-content{
        gap: 50px;
    }
    .box{
        min-width: 115px;
    }
    /* page-2 */
    /* page-3 */
    .pg-3-cont{
        padding-inline: 30px;
        flex-direction: column;
    }

}